@font-face {
    font-family: 'Sour'; 
    src: url('Sour/static/SourGummy-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Jac'; 
    src: url('Sour/Jacquard24-Regular.ttf') format('truetype');
}

h1 {
    color: rgb(11, 41, 45);
    text-align: center;
    font-size: 240%;
    font-family: 'Jac', sans-serif;
}

#header {
    background-color: #3bd1dc8f;
    text-align: center;
    padding: 1em;
    border-bottom: 2px dashed #000;
}

#city-form {
    margin-top: 1em;
}

#city-input {
    padding: 0.5em;
    font-size: 1em;
}

#body {
    font-family: 'Sour', sans-serif;

    /* Flex et inversion */
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 2em 0;
    background-color: #00d9ff26;
}

#weather-list {
    display: flex;

    /* Affiche la dernière ville ajoutée au centre */
    flex-direction: row-reverse;

    gap: 2em;
}

.weather-container {
    padding: 1em;
    border: 2px solid #000;
    border-radius: 10px;
    background: white;
    min-width: 200px;
}

#footer {
    background-color: #59bbc2ac;
    text-align: center;
    border-top: 2px dashed #000;
    padding: 1em;
    font-family: Jac, sans-serif;
    font-size: 130%;
}

.weather-container img {
    width: 10vw;
    height: auto;
}

.weather-temp {
    font-size: 36px;
    margin-bottom: 0.5em;
}

.weather-desc {
    font-style: italic;
}

h1, body, h2, p, label {
    padding: 0;
    margin: 0;
}